@import "./color.scss";
@import "../node_modules/bulma/sass/utilities/mixins.sass";

#homepage-content {
  margin-top:-5.5rem;
  background-image: url("../img/1600px-Dollar_General_construction_site,_Beaver_Falls.jpg");
  background-size: cover;

  .hero-body {
    margin-top: 8rem;
  }
}

#about-us {
  background-color: $primary;

  .tile.is-ancestor {
    position: relative;
    top: -10rem;

    @include until(desktop) {
      width: 100%;
    }

    @include desktop {
      width: 80%;
      margin: auto;
    }

    .tile.is-child {
      background: white;
    }
  }

  .notification {
  }
}

.notification {
    @include mobile {
      .subtitle {
        font-size: 11pt;
      }
    }

  border-radius: 0px;
  box-shadow: 3px 3px 0px rgba(black, 0.3);
}

#projects {
  padding: 0px;
}
