@import "./color.scss";

#homepage-content {
  margin-top:-3.25rem;
  background-image: url("../img/1600px-Dollar_General_construction_site,_Beaver_Falls.jpg");
  background-size: cover;

  .hero-body {
    margin-top: 8rem;
  }
}

#about-us {
  background-color: $primary;

  .tile.is-ancestor {
    position: relative;
    top: -10rem;
    width: 70%;
    margin: auto;

    .tile.is-child {
      background: white;
    }
  }
}

.notification {
  border-radius: 0px;
  box-shadow: 3px 3px 0px rgba(black, 0.3);
}

#projects {
  padding: 0px;
}
