@import "./color.scss";

#services {
  span.title:hover {
    color: $primary;
    cursor: pointer;
  }
}
 #projects {
   border-bottom: 12px solid #363636;
   a {
     background-image: url(../photos/cropped.jpg);
     background-size: cover;
     background-position: top;

     color: white;

     span {
       color: white;
       background-color: $primary;
       padding: 1rem;
        
       font-size: 14pt;
     }
   }
 }
